* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.gold-bg {
  background-color: goldenrod;
}

.contenedor h1 {
  color: goldenrod;
  margin: 15px;
  text-align: center;
}
.contenedor section h2 {
  color: whitesmoke;
  margin: 20px;
}
.contenedor section p {
  color: goldenrod;
  margin: 15px;
}
.contenedor section div img {
  width: 75%;
  margin: 2.5rem;
}
.contenedor div h2 {
  color: whitesmoke;
  text-align: center;
  border: solid goldenrod;
}

.caja {
  margin: 15px;
  padding: 10px;
  color: goldenrod;
  border: solid whitesmoke;
  display: flex;
  flex-direction: column;
}

.cajas {
  display: grid;
}

.imgcaj1 {
  width: 100%;
  height: 53%;
}

.imgcaj2 {
  width: 100%;
}

footer {
  text-align: center;
  color: whitesmoke;
}

.contenedor-bio h1 {
  color: goldenrod;
  margin: 15px;
  text-align: center;
}
.contenedor-bio div img {
  display: none;
}
.contenedor-bio div p {
  color: goldenrod;
  margin: 15px;
}
.contenedor-bio div p span {
  color: blue;
}
.contenedor-bio div h2 {
  color: whitesmoke;
  margin: 20px;
}

.li-bio {
  color: blue;
}

.contenedor-cal {
  display: grid;
  place-items: center;
}

main h1 {
  color: goldenrod;
  margin: 15px;
  text-align: center;
}
main h2 {
  color: whitesmoke;
  margin: 20px;
}

.contenedor-cal1 {
  display: grid;
}

.contenedor-cal .items {
  margin: 15px;
  padding: 10px;
  border: solid goldenrod;
}
.contenedor-cal p {
  color: goldenrod;
}
.contenedor-cal img {
  width: 20rem;
}

.contenedor-1 {
  display: grid;
}

.contenedor-pa {
  display: grid;
}
.contenedor-pa h1 {
  color: goldenrod;
  text-align: center;
}
.contenedor-pa img {
  width: 20rem;
  margin: 10%;
}

.contenedor-form {
  width: 100%;
  margin: 10px;
  display: grid;
  margin-top: 90px;
}
.contenedor-form .titu-con {
  color: goldenrod;
  text-align: center;
}
.contenedor-form p {
  color: goldenrod;
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 30px;
}
.contenedor-form a {
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: black;
  font-weight: 700;
}
.contenedor-form .datos {
  color: blue;
}
.contenedor-form form .campo, .contenedor-form form textarea {
  width: 90%;
  padding: 15px 15px;
  font-size: 15px;
  border: 1px solid;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0;
}
.contenedor-form form textarea {
  max-width: 530px;
  min-width: none;
  min-height: 140px;
  max-height: 150px;
}
.contenedor-form form .btn-enviar {
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0;
  background-color: blue;
  color: goldenrod;
  border-radius: 3px;
}

@media screen and (min-width: 600px) {
  .contenedor section div img {
    margin: 10%;
  }
  .cajas {
    grid-template-columns: repeat(2, 1fr);
  }
  main h1 {
    text-align: center;
  }
  .contenedor-cal1 {
    grid-template-columns: repeat(2, 1fr);
  }
  .item-uno img,
  .item-tres img {
    height: 100%;
  }
  .contenedor-1 {
    grid-template-columns: repeat(2, 1fr);
  }
  .fech-cero img,
  .fech-dos img,
  .fech-tres img,
  .fech-cuatro img {
    height: 80%;
  }
  .contenedor-pa {
    margin: 5%;
    margin-right: 10%;
    grid-template-columns: repeat(2, 1fr);
  }
  .patro-uno img,
  .patro-tres img {
    height: 80%;
  }
}
@media screen and (min-width: 1024px) {
  .contenedor section div img {
    margin-left: 25%;
    width: 50%;
  }
  .cajas {
    grid-template-columns: repeat(3, 1fr);
  }
  .contenedor-bio div img {
    display: flex;
    float: left;
  }
  .li-bio {
    margin-bottom: 25px;
  }
  main h1 {
    text-align: center;
  }
  .contenedor-cal1 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .item-uno img,
  .item-dos img,
  .item-tres img {
    height: 100%;
  }
  .contenedor-1 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .fech-cero img,
  .fech-uno img,
  .fech-dos img,
  .fech-tres img,
  .fech-cuatro img {
    height: 80%;
  }
  .contenedor-pa {
    margin: 5%;
    margin-right: 10%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 5%;
  }
  .patro-uno img,
  .patro-dos img,
  .patro-tres img {
    height: 70%;
    width: 95%;
  }
  .contenedor-form {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-top: 90px;
  }
}

/*# sourceMappingURL=style.css.map */
